In [3]:
# Importing necessary libraries
import pandas as pd
import numpy as np
#Reading the csv file into a Dataframe
bank_marketing = pd.read_csv(r"F:\PROJECT\Data\bank_marketing.csv")
bank_marketing.head()

,client_id,age,job,marital,education,credit_default,mortgage,month,day,contact_duration,number_contacts,previous_campaign_contacts,previous_outcome,cons_price_idx,euribor_three_months,campaign_outcome
0,0,56,housemaid,married,basic.4y,no,no,may,13,261,1,0,nonexistent,93.994,4.857,no
1,1,57,services,married,high.school,unknown,no,may,19,149,1,0,nonexistent,93.994,4.857,no
2,2,37,services,married,high.school,no,yes,may,23,226,1,0,nonexistent,93.994,4.857,no
3,3,40,admin.,married,basic.6y,no,no,may,27,151,1,0,nonexistent,93.994,4.857,no
4,4,56,services,married,high.school,no,no,may,3,307,1,0,nonexistent,93.994,4.857,no

In [6]:
# Spliting the csv file into 3 small Dataframes
client = bank_marketing[["client_id","age","job","marital", "education", "credit_default","mortgage"]]
campaign = bank_marketing[["client_id", "number_contacts", "contact_duration", "previous_campaign_contacts", "previous_outcome","campaign_outcome","day","month"]]
economics = bank_marketing[["client_id","cons_price_idx","euribor_three_months"]]

In [9]:
# Cleaning the client Dataframe
changes = {'yes':1,'no':0, 'unknown':0}
client['education'] = client['education'].str.replace('.','_')
client['education'] = client['education'].replace('unknown',np.nan)
client['job'] = client['job'].str.replace('.','_')
client['credit_default'] = client['credit_default'].map(changes)
client['mortgage'] = client['mortgage'].map(changes)
client.head()

C:\Users\admin\AppData\Local\Temp\ipykernel_6204\3385127612.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  client['education'] = client['education'].str.replace('.','_')
C:\Users\admin\AppData\Local\Temp\ipykernel_6204\3385127612.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  client['education'] = client['education'].replace('unknown',np.nan)
C:\Users\admin\AppData\Local\Temp\ipykernel_6204\3385127612.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  client['job'] = client['job'].str.replace('.','_')
C:\Users\admin\AppData\Local\Temp\ipykernel_6204\3385127612.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  client['credit_default'] = client['credit_default'].map(changes)
C:\Users\admin\AppData\Local\Temp\ipykernel_6204\3385127612.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  client['mortgage'] = client['mortgage'].map(changes)

   client_id  age        job  marital    education  credit_default  mortgage
0          0   56  housemaid  married     basic_4y             NaN       NaN
1          1   57   services  married  high_school             NaN       NaN
2          2   37   services  married  high_school             NaN       NaN
3          3   40     admin_  married     basic_6y             NaN       NaN
4          4   56   services  married  high_school             NaN       NaN

In [10]:
# Convert both columns to boolean
for column in ['credit_default','mortgage']:
    client[column] = client[column].astype(bool)
client.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   client_id       41188 non-null  int64
 1   age             41188 non-null  int64
 2   job             41188 non-null  object
 3   marital         41188 non-null  object
 4   education       39457 non-null  object
 5   credit_default  41188 non-null  bool
 6   mortgage        41188 non-null  bool
dtypes: bool(2), int64(2), object(3)
memory usage: 1.6+ MB

C:\Users\admin\AppData\Local\Temp\ipykernel_6204\3722132599.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  client[column] = client[column].astype(bool)
C:\Users\admin\AppData\Local\Temp\ipykernel_6204\3722132599.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  client[column] = client[column].astype(bool)

In [11]:
#Cleaning the campaign Dataframe
campaign['campaign_outcome'] = campaign['campaign_outcome'].map(changes)
second_changes = {'success':1,'failure':0,'nonexistent':0}
campaign['previous_outcome'] = campaign['previous_outcome'].map(second_changes)
campaign.head()

C:\Users\admin\AppData\Local\Temp\ipykernel_6204\284817422.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  campaign['campaign_outcome'] = campaign['campaign_outcome'].map(changes)
C:\Users\admin\AppData\Local\Temp\ipykernel_6204\284817422.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  campaign['previous_outcome'] = campaign['previous_outcome'].map(second_changes)

,client_id,number_contacts,contact_duration,previous_campaign_contacts,previous_outcome,campaign_outcome,day,month
0,0,1,261,0,0,0,13,may
1,1,1,149,0,0,0,19,may
2,2,1,226,0,0,0,23,may
3,3,1,151,0,0,0,27,may
4,4,1,307,0,0,0,3,may

In [12]:
# Convert both columns to boolean
for column in ['campaign_outcome','previous_outcome']:
    campaign[column] = campaign[column].astype(bool)
campaign.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   client_id                   41188 non-null  int64
 1   number_contacts             41188 non-null  int64
 2   contact_duration            41188 non-null  int64
 3   previous_campaign_contacts  41188 non-null  int64
 4   previous_outcome            41188 non-null  bool
 5   campaign_outcome            41188 non-null  bool
 6   day                         41188 non-null  int64
 7   month                       41188 non-null  object
dtypes: bool(2), int64(5), object(1)
memory usage: 2.0+ MB

C:\Users\admin\AppData\Local\Temp\ipykernel_6204\3357884438.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  campaign[column] = campaign[column].astype(bool)
C:\Users\admin\AppData\Local\Temp\ipykernel_6204\3357884438.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  campaign[column] = campaign[column].astype(bool)

In [13]:
# Create 'last_contact_date' column
campaign['year'] = '2023'
campaign['day'] = campaign['day'].astype(str)
campaign['last_contact_date'] = campaign['year'] + '-' + campaign['month'] + '-' + campaign['day']
campaign['last_contact_date'] = pd.to_datetime(campaign['last_contact_date'])
campaign.head()

C:\Users\admin\AppData\Local\Temp\ipykernel_6204\3842546160.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  campaign['year'] = '2023'
C:\Users\admin\AppData\Local\Temp\ipykernel_6204\3842546160.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  campaign['day'] = campaign['day'].astype(str)
C:\Users\admin\AppData\Local\Temp\ipykernel_6204\3842546160.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  campaign['last_contact_date'] = campaign['year'] + '-' + campaign['month'] + '-' + campaign['day']
C:\Users\admin\AppData\Local\Temp\ipykernel_6204\3842546160.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  campaign['last_contact_date'] = pd.to_datetime(campaign['last_contact_date'])
C:\Users\admin\AppData\Local\Temp\ipykernel_6204\3842546160.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  campaign['last_contact_date'] = pd.to_datetime(campaign['last_contact_date'])

,client_id,number_contacts,contact_duration,previous_campaign_contacts,previous_outcome,campaign_outcome,day,month,year,last_contact_date
0,0,1,261,0,False,False,13,may,2023,2023-05-13
1,1,1,149,0,False,False,19,may,2023,2023-05-19
2,2,1,226,0,False,False,23,may,2023,2023-05-23
3,3,1,151,0,False,False,27,may,2023,2023-05-27
4,4,1,307,0,False,False,3,may,2023,2023-05-03

In [14]:
# Drop unnecessary columns
campaign.drop(columns = ['year','month','day'], inplace = True)
campaign.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 7 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   client_id                   41188 non-null  int64
 1   number_contacts             41188 non-null  int64
 2   contact_duration            41188 non-null  int64
 3   previous_campaign_contacts  41188 non-null  int64
 4   previous_outcome            41188 non-null  bool
 5   campaign_outcome            41188 non-null  bool
 6   last_contact_date           41188 non-null  datetime64[ns]
dtypes: bool(2), datetime64[ns](1), int64(4)
memory usage: 1.6 MB

C:\Users\admin\AppData\Local\Temp\ipykernel_6204\891452575.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  campaign.drop(columns = ['year','month','day'], inplace = True)

In [74]:
# Saving the cleaned DataFrames to CSV files
client.to_csv('client.csv',index = False)
campaign.to_csv('campaign.csv',index = False)
economics.to_csv('economics.csv',index = False)